span[b-u9ujngyi57] {
    display: inline-block;
    font-family: montserrat-black;
    margin-left: 10px;
    font-size: 1rem;
    color: #261346;
}
.span-traco[b-u9ujngyi57]::after{
    content: '';
    display: block;
    border-bottom: 2px solid #261346;
    width:150%;
}