<header>
    <img aria-hidden="true" src="/images/icons/menu-hamburguer-icon.png" />
    <span class="span-traco">@Title</span>
</header>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
}